.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topSetting {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  p {
    font-size: 23px;
    font-weight: bold;
  }
}

.clearBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
}

.cartCenter {
  height: 100%;
}

.items {
  height: 55vh;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  overflow-y: scroll;
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.totalAmount {
  span {
    font-weight: bold;
    color: red;
  }
}

.bottomBtn {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.backBtn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.payBtn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #cc9fb2;
}

.cartEmpty {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 15px;
}
