.cart {
}

.cartContent {
}

.topSetting {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.info {
  border: 1px solid red;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  p {
    font-size: 23px;
    font-weight: bold;
  }
}

.clearBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  p {
    color: #b6b6b6;
  }
}

.items {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.bottomInfo {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.totalOrder {
  border: 1px solid red;
}
.totalAmount {
  border: 1px solid red;
  span {
    color: orange;
  }
}

.bottomBtn {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.backBtn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.payBtn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
}

.cartEmpty {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 15px;
}
