@import '../styles/lib/normalize.scss';
@import '../styles/Cart.module.scss';
@import '../styles/Home.module.scss';
@import '../styles/NotFound.module.scss';
.App {
  border: 1px solid red;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
