.categories {
  ul {
    display: flex;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;

    li {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 10px;
      border-radius: 15px;
      background-color: #ffe4f8;
      cursor: pointer;
      &.active {
        background-color: #aa909b;

        color: white;
      }
    }
  }
}
