.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
  padding: 5px;
  min-width: 300px;
  img {
    border-radius: 40px;
  }
}

.descriptionText {
  padding: 5px;
}

.quantity {
  display: flex;
  padding: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  align-items: center;
}

.btnQty {
  cursor: pointer;
  padding: 7px;
  width: 35px;
  border-radius: 50%;
}

.price {
  display: flex;
  align-items: center;
}

.deleteBtn {
  cursor: pointer;
  padding: 7px;
  min-width: 35px;
  border-radius: 20px;
}
