.sortBlock {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.sortBy {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    cursor: pointer;
    margin-left: 5px;
    border-bottom: 1px dashed black;
    font-weight: bold;
  }
}

.arrowSort {
  cursor: pointer;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.desc {
    rotate: 180deg;
  }
}

.sortPopUp {
  position: absolute;
  width: 110px;
  right: 0;
  top: 25px;

  width: 130px;
  background-color: #cc9fb2;
  ul {
    display: flex;
    flex-direction: column;
    li {
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: #ffe4f8;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}
