.sortBlock {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.sortBy {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    cursor: pointer;
    margin-left: 5px;
    border-bottom: 1px dashed red;
    font-weight: bold;
  }
}

.arrowSort {
  cursor: pointer;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.desc {
    rotate: 180deg;
  }
}

.sortPopUp {
  position: absolute;
  width: 110px;
  right: 0;
  top: 25px;
  border: 1px solid red;
  width: 130px;
  background-color: #9d84bd;
  ul {
    display: flex;
    flex-direction: column;
    li {
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: #7c9139;
      }
      &.active {
        color: red;
      }
    }
  }
}
